.popup__text {
  width: 100%;
  margin: 16 auto 0;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 767px) {
  .popup__text{
    margin-bottom: 28px;
    
  }

}