@media screen and (min-width: 768px) {
  .button.header__button.header__button_theme_white {
    color: black;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  
}