.lead__content-paragraph {
  margin: auto;
}

@media screen and (min-width: 767px) {
  .lead__content-paragraph {
    margin: 0 156px 48px 160px;
  }
}

@media screen and (min-width: 1440px) {
  .lead__content-paragraph {
    margin-left: 416px;
    margin-bottom: 64px;

  }
}
