.popup__title {
  width: 90%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

@media screen and (min-width: 767px) {
  .popup__title {
    width: 83%;
    margin: 34px 330px 22px 36px;
  }
}