.cards-container {
    width: 100%;
    margin: auto;
    background: #F5F6F7;
}

@media screen and (min-width: 767px) {
  .cards-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}