@import url('../blocks/page/page.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/lead/_theme/lead_theme_white.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/_theme/header_theme_white.css');
@import url('../blocks/content-subtitle/content-subtitle.css');
@import url('../blocks/content-paragraph/content-paragraph.css');
@import url('../blocks/button/button.css');
@import url('../blocks/search-results/search-results.css');
@import url('../blocks/cards-container/cards-container.css');
@import url('../blocks/article-card/article-card.css');
@import url('../blocks/content/content.css');
@import url('../blocks/author/author.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/preloader/preloader.css');
@import url('../blocks/circle-preloader/circle-preloader.css');
@import url('../blocks/no-results/no-results.css');