.lead__title {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 16px;
  color: white;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

@media screen and (min-width: 767px) {
  .lead__title {
    width: 385px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin: 38px 220px 16px 163px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    width: 608px;
    font-size: 60px;
    line-height: 64px;
    margin: 80px auto 32px;

  }
}