.popup__content {
  /* width: 90%; */
  width: 100%;
  min-height: 560px;
  background: #FFFFFF;
  margin-top: 56px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 767px) {
  .popup__content {
    width: 430px;
    min-height: 380px;
    background: #FFFFFF;
    margin: 0;
    margin-top: 207px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
  }
}