.article-card__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .article-card__title {
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .article-card__title {
    font-size: 26px;
    line-height: 30px;
  }
}