.article-card__delete {
  background: url(../../../images/Union.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
}