.lead__field {
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  min-height: 56px;
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

@media screen and (min-width: 768px) {
  .lead__field {
    width: 100%;
    height: 56px;
    padding: 0;

  }
}

@media screen and (min-width: 1440px) {
  .lead__field {
    color: #1A1B22;
  }
}